.text-custom {
  position: absolute;
  top: 250px;
  text-align: start;
  padding-left: 0;
  /* right: 50%; */
}

.carousel {
  height: 100vh;

  background-size: cover;
}

.navbar {
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.navbar .nav-link,
.navbar .navbar-brand,
.navbar .bi {
  color: white;
  transition: color 0.3s ease;
}

.navbar.scrolled {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: 0 2px 10px rgba(230, 229, 229, 0.37);
}

.navbar.scrolled .nav-link,
.navbar.scrolled .navbar-brand,
.navbar.scrolled .bi {
  color: #dc3545; /* merah Bootstrap */
}

.h1 {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}

.rounded-custom img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  background-size: cover;
  border-radius: 50%;
}

.navbar .nav-link {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

/* Garis bawah default: invisible */
.navbar .nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background-color: #dc3545; /* warna merah */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

/* Saat hover atau aktif: garis muncul */
.navbar .nav-link:hover::after,
.navbar .nav-link.active::after {
  transform: scaleX(1);
}

/* animatin zoom in img */
.img {
  overflow: hidden;
}

.card-img-top {
  transition: transform 0.3s ease;
}

.img:hover .card-img-top {
  transform: scale(1.1);
  cursor: pointer;
  border-radius: 10px;
}

.card-img-top {
  object-fit: cover;
  object-position: center;
}
